rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // Regras para a coleção 'users'
    match /users/{userId} {
      // Qualquer usuário autenticado pode criar seu próprio documento de perfil
      allow create: if request.auth != null;
      
      // O usuário só pode ler, atualizar ou deletar seu próprio documento
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;

      // Regras para a subcoleção 'characters'
      match /characters/{characterId} {
        // O usuário só pode gerenciar (ler, criar, atualizar, deletar) seus próprios personagens
        allow read, write: if request.auth != null && request.auth.uid == userId;
        
        // Regras para a sub-subcoleção 'runes' dentro de 'characters'
        match /runes/{runeConfigId} {
           allow read, write: if request.auth != null && request.auth.uid == userId;
        }
      }
      
      // Regras para a subcoleção 'idealRunes'
      // O usuário pode ler e escrever nas suas próprias configurações de runas ideais
      match /idealRunes/{classId}/{tierId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
