rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permite que um usuário leia/escreva em seu próprio documento de usuário
    match /users/{userId} {
      allow read, update, delete: if request.auth.uid == userId;
      allow create: if request.auth.uid != null;
    }

    // Permite acesso total às subcoleções de um usuário, como 'characters' e as configurações de 'runes' dentro deles.
    match /users/{userId}/{document=**} {
      allow read, write: if request.auth.uid == userId;
    }
  }
}
