rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Users can only read and write to their own user document
    match /users/{userId} {
      allow read, update: if request.auth.uid == userId;

      // Characters are stored as a subcollection of a user document
      match /characters/{characterId} {
        allow read, update, delete: if request.auth.uid == userId;
        allow create: if request.auth.uid == userId;
      }
    }
  }
}
